body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edf6f9;
}


* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

ul,
li {
  list-style: none;
}


.wrapper {
  background: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  margin: 50px auto;
  max-width: 1080px;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawer {
  position: absolute;

  display: flex;
  flex-direction: column;
  width: 385px;
  height: 100%;
  padding: 30px;
  
  right: 0;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
 
  font-size: 18px;
}

.cartItem {
  padding: 20px 20px 30px;
  border: 1px solid #F3F3F3;
  border-radius: 20px;

  svg:hover rect {
    transition: all 0.15s ease-in-out;
    stroke: #BDBDBD;
  }

  p {
    font-weight: 400;
  }
  b {
    font-weight: 700;
  }
}

.cartTotalBlock {
  div {
    flex: 1;
    border-bottom: 1px dashed #DFDFDF;
  }
}

header {
  border: 1px solid #EAEAEA;
}

.card {
  width: 180px;
  height: 240px;
  border: 1px solid #f3f3f3;
  border-radius: 40px;
  padding: 20px;


  &:hover {
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
    transition: transform 0.15s ease-in-out;
  }

  .favorite {
    position: absolute;
  }

  span {
    font-size: 14px;
    color: #BDBDBD;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.button {
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
}

.search-block {
  padding: 7px 15px;
  border-radius: 10px;
  border: 1px solid #f3f3f3;

  input {
    border: 0;
    padding-left: 10px;
    width: 200px;
    height: 20px;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edf6f9;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;

  h1 {
    color: #000;
    font-size: 7rem;
    margin: 0;
    margin-bottom: 20px;

    &.plus {
      color: #2a9d8f;
    }

    &.minus {
      color: #e63946;
    }
  }

  h2 {
    font-size: 2rem;
    margin: 0;
    color: #556581;
  }


}